<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <!--
        [(ngModel)] is Angular's two-way data binding syntax. 
        Although ngModel is a valid Angular directive, it isn't available by default.
        It belongs to the optional FormsModule and you must opt-in to using it.
      -->
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
    <button (click)="save()">save</button>
  </div>
  <button (click)="goBack()">go back</button>
</div>